*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  transition: all 0.3s ease;
}

:root {
  /* primary colors */
  --darkblue05: #091b6f;
  --darkblue04: #0d28a6;
  --darkblue03: #5e70c4;
  --darkblue02: #aeb7e1;
  --darkblue01: #cfd4ed;
  --darkblue00: #f1f3ff;
  --limegreen05: #3d7b3f;
  --limegreen04: #5cb85f;
  --limegreen03: #92d094;
  --limegreen02: #c9e7ca;
  --limegreen01: #def1df;
  /* alert colors */
  --danger: #fa2c5a;
  --warning: #f9cc00;
  --success: #73ca5c;
  /* neutral colors */
  --neutral05: #151515;
  --neutral04: #3c3c3c;
  --neutral03: #8a8a8a;
  --neutral02: #d0d0d0;
  --neutral01: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Helvetica', sans-serif;
  overflow-x: hidden;
}

/* navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-transparent {
  background-color: transparent;
  transition: background-color 0.3s;
}

.navbar-solid {
  background-color: var(--neutral01) !important;
  transition: 0.1s ease 0s;
  box-shadow: 0 0 4px var(--neutral05) !important;
}

@media (max-width: 768px) {
  .custom-offcanvas {
    --bs-offcanvas-width: 200px;
  }
}

.offcanvas-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--neutral05);
}

.nav-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--neutral05);
}

.nav-item button {
  background-color: var(--limegreen04);
  border: none;
  border-radius: 3px;
  color: var(--neutral01);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 12px;
}

.nav-item a:hover {
  color: var(--darkblue05);
}

.nav-link.active {
  font-weight: bold;
}

/* hero-section */
.hero-section {
  background: url(../images/hero_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: var(--neutral05);
}

.hero-section p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  max-width: 468px;
  color: var(--neutral05);
}

.hero-section a {
  background-color: var(--limegreen04);
  border: none;
  border-radius: 3px;
  color: var(--neutral01);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.hero-section img {
  position: relative;
  width: 100%;
  height: auto;
  transform: scaleX(-1);
}

/* service section */
.service-section h3 {
  font-size: 24px;
  line-height: 36px;
  color: var(--neutral05);
}

.service-section p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  max-width: 460px;
  color: var(--neutral05);
}

.service-section ul li {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: var(--neutral05);
}

.bi-check-lg {
  font-size: 18px;
  font-weight: 900;
  color: var(--darkblue05);
  background: var(--darkblue01);
  padding: 2px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

/* why us section */
.why-us-section h3 {
  font-size: 24px;
  line-height: 36px;
  color: var(--neutral05);
}

.why-us-section p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: var(--neutral05);
}

.why-us-section .card {
  box-sizing: border-box;
  height: 196px;
  border: 1px solid var(--darkblue00);
}

.card-body .card-icon i {
  font-size: 18px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutral01);
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
}

.card-body h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--neutral05)
}

/* testimonial */
.testimonial-carousel::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

.testimonial-carousel::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

@media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
      width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
      width: 300px;
  }
}

.testimonial-carousel .owl-item .testimonial-text {
  background: var(--darkblue00);
  transform: scale(.8);
  transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
  background: var(--darkblue01);
  transform: scale(1);
}

.testimonial-carousel .owl-item .testimonial-text *,
.testimonial-carousel .owl-item .testimonial-item img {
  transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
  color: var(--neutral05);
}

.testimonial-carousel .owl-item.center .testimonial-item img {
  background: var(--darkblue01) !important;
} 

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 350px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: .5s;
  z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
  width: 300px;
  opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  color: var(--neutral05);
  font-size: 45px;
  transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  color: var(--limegreen04);
}

/* cta */
.cta .card {
  background: var(--darkblue04);
  color: var(--neutral01);
}

.cta .card .card-body p {
  text-align: center;
  max-width: 468px;
  margin: 0 auto; 
}

.cta .card .card-body a {
  background-color: var(--limegreen04);
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.cta .card .card-body a:hover {
  background-color: var(--neutral01);
  color: var(--limegreen04);
}

/* faq */
.accordion-item {
  margin-bottom: 15px; 
  border: 1px solid var(--neutral02); 
  border-radius: 0.25rem;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: var(--neutral05);
}

.accordion-item .accordion-button {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: var(--neutral05);
}

.accordion-collapse {
  border-top: 1px solid var(--neutral02) !important;
}

.accordion-button.collapsed {
  border-top: 1px solid var(--neutral02) !important;
}

/* footer */
.footer p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: var(--neutral05);
}

.footer a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: var(--neutral05);
}

.footer .connect-us i {
  display: inline-flex; /* Menjadikan elemen inline dengan fitur flexbox untuk penataan */
  justify-content: center; /* Menyejajarkan konten secara horizontal */
  align-items: center; /* Menyejajarkan konten secara vertikal */
  font-size: 18px;
  font-weight: 700;
  background: var(--darkblue04);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center; /* Memastikan teks berada di tengah */
  line-height: 32px; /* Menyelaraskan teks vertikal */
  box-sizing: border-box; /* Menghitung padding dan border dalam ukuran total */
  color: var(--neutral01);
}

